---
---

@import "resetmarketo.scss";

*{
  margin: 0;
  padding:0;
}
a {
  color: #0050b2;
  font-weight: bold;
  text-decoration: none;
}
nav a, .menu ul li a, .menu ul li a:hover {
  color: #0050b2;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 0px solid #fff;
}
body{
  font-family: 'Raleway';
}
nav{
  padding: 0.5em;
  box-sizing: border-box;
  position: block;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  background: #fff;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
p{
  color: #4f4f4f;
}
img {
  max-width: 100%;
}
h2{
  text-align: center;
  margin: 10px 0px;
}
a h2:hover{
  color: #3975BF;
  transition: .3s;
}






/* HEADER NAVIGATION */
.logo{
  float:left;
  width: 40%;
  line-height: 38px;
  margin-top: -3px;
}
.logo img{
  width: 195px;
  vertical-align: middle;
  padding: 0px 0px 0px 15px;
}
.menu{
  width: 60%;
  float: right;
  text-align: right;
  line-height: 35px
}
.menu li{
  display: inline;
  margin: 0px 15px 0px 15px;
}





/* HOMEPAGE HERO */
.hero{
  background-image: url('images/img/shoeangel-bg.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y:-120px;
}
.bg{
  height: 70vh;
  width: 100%;
  display: flex;
}




/* BUTTONS */
.btn {
  background: #0050b2;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  padding: 0.5em 2em;
  border-radius: 2px;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  letter-spacing: .05em;
}
.btn:hover{
  background: #3975BF;
  transition: .3s;
}





/* CONTAINER */
.container{
  width:50%;
  margin: 3em auto 0;
}

/* BOOTSTRAP */
.col-lg{
  background: #fff;
  margin: 15px 15px;
  min-height: 150px;
  padding: 0 !important;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  border-radius: 2px;
}
.boxbox{
  width: 100%;
  background: #f4f4f4;
}
.row{
  width: 95%;
  margin:auto;
}
.col-lg img{
  margin: 25px 0;
  width: 250px;
}





/* FLEXBOX HELL */
.flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f4f4f4;
  height: auto;
  padding: 20px 0;
}
.home-flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f4f4f4;
  padding: 0 0 20px 0;
}
.brand-flex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f4f4f4;
  height: 180px;
}
.col{
  width: 30%;
  height: 170px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 0 0 0;
}
.home-col{
  width: 95%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.brand-col{
  width: 23%;
  height: 130px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  display:flex;
}
.brand-col img{
  max-width: 150px;
  margin: auto;
  text-align: center;
  display: block;
}
.col .btn{
  width: 100px;
  margin: 0 auto;
  font-weight: 700;
  letter-spacing: .05em;
}
.col p{
  text-align: center;
  padding: 10px 20px 20px 20px;
}
.home-col p{
  padding: 0 0 30px 0;
  text-align: center;
}
.home-col div{
  flex: 1;
}
.left{
  width: 50%;
  background-image: url('images/img/4eursole_lsp_RKH049_low.jpg');
  background-size: cover;
  background-position-y: -110px;
  background-repeat: no-repeat;
}
.right{
  width: 50%;
  padding: 50px;
}
.brand-img{
  background-image: url('images/img/brands-3.jpg') !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
}
.charity-img{
  background-image: url('images/img/charity-2.jpg') !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #212121;
  font-size: 1.4em;
}
.hero-title h1 {
  margin-top: 40px;
  border-radius: 2px;
  font-weight: normal;
}
.hero-title h1 img {
  width: 500px;
}
.subtitle {
  font-weight: 300;
  font-size: 0.65em;
}
.container p{
  line-height: 1.5em;
  padding: 0px 0 20px 0;
}
.brands {
  margin: 0 auto;
  width: 100%;
}
.brands img {
  max-width: 800px;
  width: 100%;
  margin-top: 1em;
}






/* FOOTER */

footer{
  margin: 0 auto;
  width: 100%;
  padding: 1.25em 0;
  background: #232323;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-weight: lighter;
  font-size: .9em;
}
.social-bar{
  background: #282828;
  height: 35px;
  margin: 20px 0 0 0;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.fix-h{
  margin-top: 0;
}
.footer-flex{
  display: flex;
  justify-content: space-evenly;
  width: 72%;
  margin: auto;
}
.footer-flex h2{
  text-align: left;
  padding: 0 0 7px 0;
}
.footer-menu{
  list-style-type: none;
}
.footer-menu li{
  font-weight: lighter;
  padding: 3px 0;
}
.footer-menu li a{
  color: #fff;
  font-weight: lighter;
}
.footer-col{
  flex: 1;
}
.copyright{
  text-align: center;
  margin-top: 40px;
  color: #fff !important;
}
.social-menu{
  list-style-type: none;
}
.social-menu li{
  display: inline;
  text-decoration: none;
  padding: 0 15px 0 0;
  border-bottom: none;
}
.social-menu li a{
  color: #fff;
  border-bottom: none;
  text-decoration: none;
}
.footer-menu li a:hover, .social-menu li a:hover{
  color: #3975BF;
  transition: .2s;
}





/* FORM CSS */

#mktoRadio_10466_1 {
  margin-left: -13px !important;
}
.successmsg {
  display: none;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
}
input{
  height: 30px;margin: 10px 0px;
}
.contact{
  text-align: center;
  height: auto;
}
.contact p{
  text-align: left;
  line-height: 1.5em;
  margin: 0px 0px 20px 0px;
}
.contact-form{
  text-align: left;
  margin: auto;
}





/* FAQ PAGE */

.faq{
  text-align: center;
  height: auto;
}
.faq p{
  font-weight: bold;
  text-align: left;
  line-height: 1.5em;
  margin: auto;
  padding-bottom: 20px;
}
.answer{
  font-weight: normal;
}





/* BANNER IMAGES */

.landing-hero{
  background-image: url('images/img/donations-hero.jpg');
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: top;
}
.about-landing-hero{
  background-image: url('images/img/about-hero.jpg');
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position-y:-120px;
}
.donations-landing-hero{
  background-image: url('images/img/donations.jpg');
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}
.contact-landing-hero{
  background-image: url('images/img/contact.jpg');
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}
.faq-landing-hero{
  background-image: url('images/img/faq.jpg');
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position-y: -170px;
}
.landing-title{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #212121;
  font-size: 1.4em;
  width: 100%;
}
.landing-title h1 {
  padding: 0.75em 1em;
  border-radius: 2px;
  text-shadow: 0px 2px 2px #303030;
  font-weight: bold;
  color: #fff;
}





/* DONATIONS PAGE */
.donation-container{
  width: 32%;
  text-align: center;
  display: inline-block;
}
.donation-container p{
  text-align: center;
}
.counter{
  font-size: 5.5em;
  font-weight: bold;
  padding: 15px 0;
  color: #0050b2;
}
.prefix::before{
  content: '$'
}
.cont-fix{
  width: 80% !important;
  margin: 2em auto 0;
}





/* MOBILE MENU & HAMBURGER */

.mobile-menu{
  position: absolute;
  top: 50px;
  background: #0050b2;
  width: 100%;
}
.mobile-menu ul{
  list-style-type: none;
}
.mobile-menu li, .mobile-menu li a{
  text-shadow: none;
  color: #FFF;
  font-weight: normal;
  padding: 1em;
  border-bottom: solid 1px #fff;
  text-align: center;
}
.hamburger-menu {
  position: absolute;
  right: 22px;
  bottom: 7px;
  margin: auto;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.bar, .bar:after, .bar:before {
  width: 35px;
  height: 3px;
}
.bar {
  position: relative;
  transform: translateY(25px);
  background: #0050b2;
  transition: all 0ms 150ms;
}
.bar.animate {
  background: rgba(255, 255, 255, 0);
}
.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  background: #0050b2;
  transition: bottom 150ms 150ms cubic-bezier(0.23, 1, 0.32, 1), transform 150ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  background: #0050b2;
  transition: top 150ms 150ms cubic-bezier(0.23, 1, 0.32, 1), transform 150ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 150ms cubic-bezier(0.23, 1, 0.32, 1), transform 150ms 150ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 150ms cubic-bezier(0.23, 1, 0.32, 1), transform 150ms 150ms cubic-bezier(0.23, 1, 0.32, 1);
}



/* MEDIA QUERY*/

@media only screen and (max-width: 1280px) {
  .left{
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (max-width: 960px) {
  .container{
    width: 95%;
  }
  .landing-hero, .landing-title, .about-landing-hero, .donations-landing-hero, .contact-landing-hero, .faq-landing-hero{
    height: 200px;
  }
  .about-landing-hero{
    background-position: center;
  }
  .faq-landing-hero{
    background-position: center;
  }
  .first{
    margin: 2em auto 0;
  }
  .menu {
    display: none;
  }
  nav{
    margin-bottom: 0;
  }
  .flex{
    display: block;
    height: auto;
    padding: 10px 0 20px 0;
  }
  .brand-flex{
    display: block;
    height: auto;
  }
  .brand-col{
    width: 95%;
    margin: 10px auto;
  }
  .footer-flex{
    display: block;
  }
  .footer-col h2{
    padding-top: 20px;
  }
  .col{
    width: 95%;
    margin: 10px auto;
    height: 150px;
  }
  .col p{
    padding: 10px 30px;
  }
  .hamburger-menu {
    bottom: auto;
    top:-2px;
  }
  .logo{
    width: 125px;
  }
  .bg {
    display: none;
  }
  .bg2 {
    display: block;
    text-align: center;
    max-width: 960px;
    width: 100%;
    height: 200px;
    color: #212;
    background-image: url('images/img/shoeangel-bg.jpg');
  }
  .hero2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  .bg2 h1 {
    font-weight: normal;
    font-size: 1.5em;
  }
  .hide-sm {
    display: none;
  }
  .donation-container, .donation-container p{
    width: 100%;
    text-align: left;
  }

  .left {
    width: 100%;
    height: 250px;
  }

  .right{
    width: 90%;
    padding:20px 0;
    margin: 0 20px 0 20px;
  }
  .home-col{
    display: block;
  }
  .brand-img{
    height: 250px;
  }
  .charity-img{
    height: 250px;
  }
}
@media only screen and (min-width: 961px) {
  nav {
    position: absolute;
  }
  .bg {
    display: block;
  }
  .bg2 {
    display: none;
  }
  .hamburger-menu{
    display: none;
  }
  .mobile-menu{
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .bg{
    height: 400px;
  }
  .hero-title{
    height:auto;
    padding: 160px 0px;
  }
}
