<div class="cont-fix">
  <h2 style="color:#0050b2;">DO GOOD. FEEL GOOD.</h2>
  <h3 style="color:darkred;text-align:center">Program starts April 1, 2018</h3>
  <div class="donation-container">
    <div class="counter" data-count="0"></div>
    <p>Raised toward Local Charities<br> and Foundations</p>
  </div>
  <div class="donation-container">
    <div class="counter" data-count="0"></div>
    <p>Raised toward Ronald McDonald <br>House Charities</p>
  </div>
  <div class="donation-container">
    <div class="counter" data-count="0"></div>
    <p>Raised toward Make-A-Wish<br> Foundation</p>
  </div>
</div>
