<div class="container" id="contact">
    <h2>Find Out More</h2>
    <div class="contact">
      <!-- <p>Shoe Angel provides footwear programs for medical facilities. With free shipping & returns, no additional cost, across-the-board savings and giving, and more, we’re confident that you’ll love our footwear program. Provide a new and thoughtful benefit to your associates with a Shoe Angel footwear program.</p> -->
      <div class="contact-form">
        <!-- <link rel="stylesheet" href="_sass/resetmarketo.scss"> -->
        <script src="https://app-ab06.marketo.com/js/forms2/js/forms2.min.js"></script>
        <form id="mktoForm_2650"></form>
        <div class="successmsg">Thanks for your request for more information. We will be in contact with you shortly.</div>
        <script>
          MktoForms2.loadForm("https://app-ab06.marketo.com", "018-APH-439", 2650, function(form) {
            form.onSuccess(function(values, followUpUrl) {
              $('.mktoButton').text('Submitted');
              $('.mktoButton').attr('disabled', 'disabled');
              $('.successmsg').fadeIn();
              return false;
            });
          });
        </script>
      </div>
      <!-- <p><strong>Note:</strong> The Shoe Angel footwear program is currently only offered to continental U.S., Alaska, Hawaii, and Puerto Rico.</p> -->
    </div>
  </div>
